 <header><h1>Centro Medico</h1></header>
    <main class="tabla-container">
        <table  border="solid" >
            <h2>LISTADO DE PACIENTES INSCRITOS</h2>
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Número de Cédula</th>
                    <th>Fecha_nacimiento</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                </tr>
            </thead>

            <tbody id="cuerpo-tabla-pacientes">
                <!-- Se agrega el contenido dinamicamente por medio de JS -->
                {{#each resultado}}
                <tr>
                    <td>{{nombres}}</td>
                    <td>{{apellidos}}</td>
                    <td>{{cedula}}</td>
                    <td>{{formatoFecha fecha_nacimiento}}</td>
                    <td>{{telefono}}</td>
                    <td>{{correo}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </main>

    <br>
    <form action="index.html">
        <input type="submit" value="Regresar a la página principal">
    </form>
